@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Foldit&family=Inter:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
  width: 1512px;
  height: 59px;
  padding: 15px 79px;
  gap: 8px;
  position: fixed;
  align-items: center;
  z-index: 999;
  background-color: #32325D;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
}

  .title{
    width: 66px;
    height: 29px;
    font-weight: 600px;
    font-size: 24px;
    line-height: 29.05px;
    align-items: center;
    padding-top: 15px;
    left: 115px;
    position: absolute;
    padding-left: 2px;
    color:#FFFFFF;
    display: inline-block;
    letter-spacing: 0em;
    font-family: 'Inter', sans-serif;
  }

  .logo{
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-right: 10px;
    padding-top: 15px;
  }

  
  .title-article {
    display: inline-block;
    height: 46px;
    top: 167px;
    left: 79px;
    color: #3A4F9A;
    border-bottom: 3px solid #3A4F9A;
    position: absolute;
    line-height: 20px; 
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 3.6px; 
    font-family: 'Inter', sans-serif;
  }


