@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Foldit&family=Inter:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
  width: 1512px;
  height: 59px;
  padding: 15px 79px;
  gap: 8px;
  position: fixed;
  align-items: center;
  z-index: 999;
  background-color: #32325D;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
}

  .title{
    width: 66px;
    height: 29px;
    font-weight: 600px;
    font-size: 24px;
    line-height: 29.05px;
    align-items: center;
    padding-top: 15px;
    left: 115px;
    position: absolute;
    padding-left: 2px;
    color:#FFFFFF;
    display: inline-block;
    letter-spacing: 0em;
    font-family: 'Inter', sans-serif;
  }

  .logo{
    width: 28px;
    height: 28px;
    display: flex;
    margin-right: 10px;
    padding-top: 15px;
  }

  
  .user-posts {
    display: inline-block;
    height: 46px;
    top: 167px;
    left: 79px;
    color: #3A4F9A;
    border-bottom: 3px solid #3A4F9A;
    position: absolute;
    line-height: 20px; 
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 3.6px; 
    font-family: 'Inter', sans-serif;
    font-weight: lighter; 
  }

  .image-post{
    width: 409px;
    height: 273px;
  }

  .image-comments{
    width: 771px;
    height: 311.4px;
  }

  .title-post, .title-comments{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #3A4F9A;
    margin-top: 18px;
    margin-left: 29px;
  }

  .body-post{
    font-family: Inter;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #575757;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 359px;
    margin-left: 29px;
    }

  .body-comments{
    font-family: Inter;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #575757;
  }

  .expand-post{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    float: right;
    color: #3A4F9A;
    margin-top: 13px;
    margin-right: 18px;
  }

  .email-comments{
    color: #3A4F9A;
  }

  #div0, #div1, #div2{
    width: 350px;
    height: 400px;
    margin-top: 200px;
    margin-left: 19px;
    float: left;
  }

  #div3, #div4, #div5{
    width: 350px;
    height: 400px;
    margin-top: 50px;
    margin-left: 19px;
    float: left;
  }

  #div3 {
    width: 409px;
    height: 455px; 
    float: left;
    clear: left; 
  }

  #div4 {
    width: 409px;
    height: 455px;
    float: left;
  }

  #div5 {
    width: 409px;
    height: 455px;
    float: left;
  }

  #div0, #div1, #div2, #div3, #div4, #div5{
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #FFFFFF;
    width: 409px;
    height: 455px;
    
  }

  #div-body2{
    width: 800px;
    height: 519px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #FFFFFF;
    box-sizing: border-box;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
  }

  #div-comments{
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 16px;
    font-style: italic;
    font-weight: 200px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    font-family: 'Inter', 'sans-serif';
    width: 762px;
    height: 321px;
    padding-top: 60px;
    margin-top: 60px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
  }

  #div-button{
    position: absolute;
    padding-top: 10px;
    left: 0;
  }

  .image-button1{
    position: fixed;
    z-index: 999;
    top: 2px;
    left: 15px;
    margin-top: 130px;
  }

  .image-button2{
    position: fixed;
    display: inline-block;
  }

  #postsContainer {
    padding-top: 109px;
  }



  
  

